* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans";
  }
  
  .App {
    text-align: "center";
    padding: 30px;
    margin: 20px;
  }
  .ui.card.main-container {
    margin: 0 auto;
    color: #fff;
    background: #f0c27b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4b1248,
      #f0c27b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4b1248,
      #f0c27b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .content {
    width: 60vw;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .content:hover {
    cursor: pointer;
  }
  .button-container {
    margin: 20px 0 20px 0;
    text-align: center;
    color: #000;
  }
  
  .header {
    text-align: center;
  }
  .info-container {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .current-song {
    margin-bottom: 10px;
  }
  
  .playlist {
    margin-left: 10px;
  }